*{
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  // background: url('../src/assets/maplestory-background.png') no-repeat fixed center;
  margin: 0;
}
.container {
  text-align: center;
}


